@{
    ViewBag.Title = "Home Page";
}
<header>
    <div class="text">
        <img class="imgs" src="~/Content/img/12.jpg" alt="Foto">
        <div class="welcome"> Welcome to our company </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="title">
            <h2>
                Services
            </h2>
            <p>
                Our clients receive modern services which make their travel more cost-effective.
            </p>
        </div>
        <div class="fixprob">
            <div class="services_icon">
                <img src="~/Content/img/passport.png" alt="Сервис" class="image">
                <h3>Registration</h3>
                <p>
                    Not all tourists can fill out a questionnaire for a foreign passport without assistance, and a wealthy client for a small surcharge will gladly get rid of the need to stand in the morning queue for a coupon.
                </p>
            </div>
            <div class="services">
                <div class="services_icon">
                    <img src="~/Content/img/Simcart.png" alt="Сервис" class="image">
                    <h3>Mobile connection</h3>
                    <p>
                        Providing international telephone cards with their help calls to Ukraine are cheaper.
                    </p>
                </div>
                <div class="services_icon">
                    <img src="~/Content/img/purse.png" alt="Сервис" class="image">
                    <h3>Payment options</h3>
                    <p>
                        For example, payment by plastic cards. The presence of wireless GSM terminals makes it possible to accept payment in the office, at home or on any other neutral territory convenient for a tourist.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about_us">
    <div class="container">
        <div class="title">
            <h2>
                About us
            </h2>
        </div>
        <div class="fixprob">
            <div class="about_icon">

                <h3>Standards of service</h3>
                <p>
                    At all stages of work with the client Platinum tour provides European standards and a high level of service.
                </p>
                <img src="~/Content/img/service.png" alt="Сервис" class="img">
            </div>
            <div class="services">
                <div class="about_icon">
                    <h3>Best value for money</h3>
                    <p>
                        Platinum tour uses all the possibilities of the international brand in cooperation with hotels and air carriers.
                    </p>
                    <img src="~/Content/img/money.png" alt="Сервис" class="img">
                </div>
                <div class="about_icon">
                    <h3>Club of friends</h3>
                    <p>
                        Platinum tour Friends is always up to date information, special offers and, of course, gifts and bonuses.
                    </p>
                    <img src="~/Content/img/club.png" alt="Сервис" class="img">
                </div>
            </div>
        </div>
        <h6>According to statistics 75% of tourists choose our company</h6>
        <div class="diagram">75<span>%</span></div>
    </div>
</section>
<section id="contacts">
    <div class="container">
        <div class="title">
            <h2>
                Contacts
            </h2>
            <p>
                We care about our clients! <br>
                Join us
            </p>
        </div>
        <div class="fixprob">
            <div class="contact">
                <a href="https://www.youtube.com"> <img src="~/Content/img/contact1.png" alt="Контакты" class="image"> </a>
            </div>
            <div class="services">
                <div class="contact">
                    <a href="https://t.me/fox_fox_fox_fox_fox"> <img src="~/Content/img/contact2.jpg" alt="Контакты" class="image"> </a>
                </div>
                <div class="contact">
                    <a href="https://www.facebook.com"> <img src="~/Content/img/contact3.png" alt="Контакты" class="image"> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="otziv">
    <div class="container2">
        <form method="post">
            <div class="dws-input">
                <input type="text" name="name" placeholder="Введите имя" />
            </div>
            <div class="dws-input">
                <input type="email" name="email" placeholder="Введите email" />
            </div>
            <div class="dws-input">
                <input type="text1" name="feedback1" placeholder="Введите Ваш отзыв">
            </div>
            <input class="dws-submit" type="submit" name="submit" value="Send" />
        </form>
    </div>
</section>

<footer>
    <div class="container">
        <div class="signature">
            <h6>&copy; @DateTime.Now.Year – Демид класс!</h6>
        </div>
    </div>
</footer>